:root {

	///* Grid *///

	--sm-media: 37rem;
	--md-media: 48rem;
	--lg-media: 62rem;
	--xl-media: 75rem;
	--1-flex: 8%;
	--1-maxWidth: 8%;
	--2-flex: (var(--1-flex) * 2);
	--2-maxWidth: (var(--1-maxWidth) * 2);
	--3-flex: (var(--1-flex) * 3);
	--3-maxWidth: (var(--1-maxWidth) * 3);
	--4-flex: (var(--1-flex) * 4);
	--4-maxWidth: (var(--1-maxWidth) * 4);
	--5-flex: (var(--1-flex) * 5);
	--5-maxWidth: (var(--1-maxWidth) * 5);
	--6-flex: (var(--1-flex) * 6);
	--6-maxWidth: (var(--1-maxWidth) * 6);
	--7-flex: (var(--1-flex) * 7);
	--7-maxWidth: (var(--1-maxWidth) * 7);
	--8-flex: (var(--1-flex) * 8);
	--8-maxWidth: (var(--1-maxWidth) * 8);
	--9-flex: (var(--1-flex) * 9);
	--9-maxWidth: (var(--1-maxWidth) * 9);
	--10-flex: (var(--1-flex) * 10);
	--10-maxWidth: (var(--1-maxWidth) * 10);
	--11-flex: (var(--1-flex) * 11);
	--11-maxWidth: (var(--1-maxWidth) * 11);
	--12-flex: (var(--1-flex) * 12);
	--12-maxWidth: (var(--1-maxWidth) * 12);
	--container-sm-maxWidth: 33.75rem;
	--container-md-maxWidth: 45rem;
	--container-lg-maxWidth: 60rem;
	--container-xl-maxWidth: 87.5rem;
	--container-paddingX: 0.9375rem;
	--row-marginX: -0.9375rem;
	--default-flex-direction: row;
	--secondary-flex-direction: row-reverse;
	--column-flex-direction: column;
	--alternative-flex-direction: column-reverse;
	--wrap: wrap;
	--wrap-reverse: wrap-reverse;
	--nowrap: nowrap;
	--flex-fill: 1 1 auto;
	--noGutters-paddingX: 0rem;
	--col-minHeight: 0.0625rem;
	--col-paddingX: 0.5625rem;
	--default-flex-grow: 1;
	--secondary-flex-grow: 2;
	--alternative-flex-grow: 0;
	--default-flex-shrink: 1;
	--secondary-flex-shrink: 0;
	--col-auto-flex: 0 0 auto;
	--col-auto-maxWidth: none;
	--col-1: 8%;
	--col-1-maxWidth: 8%;
	--col-2: (var(--col-1) * 2);
	--col-2-maxWidth: (var(--col-1-maxWidth) * 2);
	--col-3: (var(--col-1) * 3);
	--col-3-maxWidth: (var(--col-1-maxWidth) * 3);
	--col-4: (var(--col-1) * 4);
	--col-4-maxWidth: (var(--col-1-maxWidth) * 4);
	--col-5: (var(--col-1) * 5);
	--col-5-maxWidth: (var(--col-1-maxWidth) * 5);
	--col-6: (var(--col-1) * 6);
	--col-6-maxWidth: (var(--col-1-maxWidth) * 6);
	--col-7: (var(--col-1) * 7);
	--col-7-maxWidth: (var(--col-1-maxWidth) * 7);
	--col-8: (var(--col-1) * 8);
	--col-8-maxWidth: (var(--col-1-maxWidth) * 8);
	--col-9: (var(--col-1) * 9);
	--col-9-maxWidth: (var(--col-1-maxWidth) * 9);
	--col-10: (var(--col-1) * 10);
	--col-10-maxWidth: (var(--col-1-maxWidth) * 10);
	--col-11: (var(--col-1) * 11);
	--col-11-maxWidth: (var(--col-1-maxWidth) * 11);
	--col-12: (var(--col-1) * 12);
	--col-12-maxWidth: (var(--col-1-maxWidth) * 12);
	--flex-order-first: -1;
	--flex-order-last: 13;
	--offset-1-marginL: 8%;
	--offset-2-marginL: (var(--offset-1-marginL) * 2);
	--offset-3-marginL: (var(--offset-1-marginL) * 3);
	--offset-4-marginL: (var(--offset-1-marginL) * 4);
	--offset-5-marginL: (var(--offset-1-marginL) * 5);
	--offset-6-marginL: (var(--offset-1-marginL) * 6);
	--offset-7-marginL: (var(--offset-1-marginL) * 7);
	--offset-8-marginL: (var(--offset-1-marginL) * 8);
	--offset-9-marginL: (var(--offset-1-marginL) * 9);
	--offset-10-marginL: (var(--offset-1-marginL) * 10);
	--offset-11-marginL: (var(--offset-1-marginL) * 11);
	--offset-12-marginL: (var(--offset-1-marginL) * 12);
	--justifyContent-align-start: flex-start;
	--start-flex-pack: start;
	--justifyContent-align-end: flex-end;
	--end-flex-pack: end;
	--justifyContent-align-center: center;
	--justifyContent-align-between: space-between; 
	--betweenFlex-pack: justify;
	--justifyContent-around: space-around;
	--around-flex-pack: distribute;
	--alignI-baseline: baseline;
	--align-stretch: stretch;

	///* Utilities *///

	--25: 25%;
	--50: 50%;
	--75: 75%;
	--100: 100%;
	--0: 0;
	--025: 0.25rem;
	--050: 0.5rem;
	--075: 0.75rem;
	--1: 1rem;

	///*colors*///

	--secondary-background-color: transparent;
	--alternative-background-color: inherit;
	--blue: #0061ff;
	--custom-color: #0b109f;
	--default-color: #FF8333;
	--default-text-color: #000000;
	--secondary-color: #0D86FF;
	--secondary-text-color: #535353;
	--alternative-color: #FFBC0B;
	--default-background-color: #cbcbcb;
	--custom-background-color: #f1f0eb;
	--success: #3ebb3c;
	--warning: #fbd82b;
	--danger: #dc2649;
	--card-default-color: #fff;
	--primary-background-color: #6200ea;
	--secondary-background-color: #7c4dff;
	--alternative-background-color: #b39ddb;
	--nav-background: rgba(0, 0, 0, 0.4);
	--card-footer-color: #fbfbfb;
	--card-footer-backgroundColor: rgba(0, 0, 0, 0.03);
	--card-header-color: #868e96;
	--card-header-backgroundColor: rgba(0, 0, 0, 0.03);
	--card-header-bottomMargin: #f9f9f9;
	--card-options-color: #ddd;
	--card-options-hover: #999;
	--tableStriped-background: rgba(0, 0, 0, 0.05);
	--table-hover: rgba(0, 0, 0, 0.075);
	--table-primary-bgColor: #b8daff;
	--table-primaryHover: #9fcdff;
	--table-secondary-bgColor: #d6d8db;
	--table-secondaryHover: #c8cbcf;
	--table-success-bgColor: #c3e6cb;
	--table-successHover: #b1dfbb;
	--table-info-bgColor: #bee5eb;
	--table-infoHover: #abdde5;
	--table-warning-bgColor: #ffeeba;
	--table-warningHover: #ffe8a1;
	--table-danger-bgColor: #f5c6cb;
	--table-dangerHover: #f1b0b7;
	--table-light-bgColor: #fdfdfe;
	--table-lightHover: #ececf6;
	--table-dark-bgColor: #c6c8ca;
	--alternative-dark-bgColor: #212529;
	--dark-borderColor: #32383e;
	--table-darkHover: #b9bbbe;
	--table-activeColorHover: rgba(0, 0, 0, 0.075);
	--theadDark-bgColor: #212529;
	--theadDark-borderColor: #dee2e6;
	--theadLight-Color: #495057;
	--theadLight-bgColor: #e9ecef;
	--theadLight-borderColor: #dee2e6;
	--btn-link-color: #6200ea;
	--btn-default-color: #292b2c;
	--btn-secondary-bgColor: #999;
	--btn-secondary-bgColor: transparent;
	--default-bgColor: #fff;
	--primary-bgColor: #6200ea;
	--success-bgColor: #3ebb3c;
	--info-bgColor: #00b0ff;
	--warning-bgColor: #fbd82b;
	--danger-bgColor: #dc2649;
	--inverse-bgColor: #292b2c;
	--text-fadded: #edecec;
	--text-muted: #999;
	--text-primary: #6200ea;
	--text-dark: #343a40;
	--text-success: #3ebb3c;
	--text-info: #00b0ff;
	--text-warning: #fbd82b;
	--text-danger: #dc2649;
	--progress-defaultColor: rgba(98, 0, 234, 0.2);
	--progress-Success: rgba(0, 200, 83, 0.2);
	--progress-Info: rgba(0, 176, 255, 0.2);
	--progres-Warning: rgba(255, 145, 0, 0.2);
	--progress-Danger: rgba(255, 23, 68, 0.2);
	--pagination-color: #2c2c2c;
	--pagination-bgColor: rgba(222, 222, 222, 0.3);
	--pagination-activeColor: #e3e3e3;
	--pagination-disabledColor: #ffffff;
	--pagination-disabled-bgColor: rgba(255, 255, 255, 0.2);


	//*HTML element*//


	--default-font-family: "Catamaran";
	--secondary-font-family: "Hind";
	--alternative-font-family: "Serif";
	--custom-font-family: "Monserrat";
    --blanch-font: "blanchcaps_inline", sans-serif;
	--haymaker-font: "haymakerregular", sans-serif;
	--LucidaConsole-font: "Lucida Console";
	--padding-sm: 0.625rem;
	--padding-md: (var(--padding-sm) *2);
	--padding-lg: (var(--padding-sm) *3);
	--alternative-padding: 0.8125rem;
	--margin-sm: 0.5rem;
	--margin-md: (var(--margin-sm) *2);
	--margin-lg: (var(--margin-sm) *3);
	--alternative-margin: -0.1875rem;
	--height-sm: 6.25rem;
	--height-md: (var(--height-sm) *2);
	--height-lg: (var(--height-sm) *3);
	--alternative-height: 3.75rem;
	--width-sm: 6.25rem;
	--width-md: (var(--width-sm) *2);
	--width-lg: (var(--width-sm) *3);
	--alternative-width: 3.75rem;
	--font-height: 500;
	--line-height: 1.2;
	--secondary-line-height: 3.75rem;
	--solid-border-sm: solid black 0.125rem;
	--solid-border-md: solid black 0.1875rem;
	--solid-border-lg: solid black 0.3125rem;
	--dotted-border-sm: dotted black 0.125rem;
	--dotted-border-md: dotted black 0.1875rem;
	--dotted-border-lg: dotted black 0.3125rem;
	--groove-border-sm: groove 0.125rem;
	--groove-border-md: groove 0.1875rem;
	--groove-border-lg: groove 0.3125rem;
	--double-border-sm: double 0.125rem;
	--double-border-md: double 0.1875rem;
	--double-border-lg: double 0.3125rem;
	--outset-border-sm: outset 0.125rem;
	--outset-border-md: outset 0.1875rem;
	--outset-border-lg: outset 0.3125rem;
	--default-width: 100%;
	--default-height: 100%;
	--h1-font-size: 4rem;
	--h2-font-size: 1.75rem;
	--h3-font-size: 1.1rem;
	--h4-font-size: 1rem;
	--h5-font-size: 0.75rem;
	--h6-font-size: 0.60rem;
	--background-clip: padding-box;
	--default-element-border: 0.0625rem solid rgba(0, 0, 0, 0.15);
	--default-border-radius: 0.17rem;
	--secondary-border-radius: 1.875rem;
	--alternative-border-radius: 0 0.1875rem 0.1875rem 0;
	--default-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	--default-box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.2rem #6200ea;
	--vertical-orient: vertical;
	--horizontal-orient: horizontal;
	--normal-direction: normal;
	--default-navbar-padding: 0.5rem 1rem;
	--nav-font-size-sm: 0.85rem;
	--nav-font-size-lg: 1.125rem;
	--nav-text-transform: uppercase;
	--nav-font-weight: 600;
	--default-display: inline-block;
	--secondary-display: block;
	--flex: flex;
	--navbar-collapse-display: -webkit-box, -webkit-flex, -ms-flexbox, flex;
	--fontSize-sm: 0.9375rem;
	--fontSize-md: 1.25rem;
	--fontSize-lg: 1.25rem;
	--direction-padding-sm: 0.625rem;
	--direction-padding-md: 1.25rem;
	--direction-padding-lg: 1.5rem;
	--dropdown-padding: 0.375rem 1.5rem;
	--dropdown-font-weight: 600;
	--dropdown-line-height: 1.563rem;
	--nav-brand-logo-width: 3.75rem;
	--icon-togger-width: 1.25rem;
	--default-text-transform: uppercase;
	--default-position: relative;
	--secondary-position: absolute;
	--alternative-position: fixed;
	--default-card-progress: translate(-50%, -50%);
	--card-primary-borderTop: 0.125rem solid #574b90;
	--card-secondary-borderTop: 0.125rem solid #868e96;
	--card-success-borderTop: 0.125rem solid #3ebb3c;
	--card-danger-borderTop: 0.125rem solid #dc2649;
	--card-warning-borderTop: 0.125rem solid #fbd82b;
	--card-info-borderTop: 0.125rem solid #17a2b8;
	--card-dark-borderTop: 0.125rem solid #343a40;
	--card-paddingY: 1.25rem;
	--card-footer-padding: 0.75rem 1.25rem;
	--card-footer-borderTop: 0.0625rem solid rgba(0, 0, 0, 0.125);
	--card-header-bottomBorder: 0.0625rem solid rgba(0, 0, 0, 0.125);
	--card-header-padding: 0.125rem 10.3125rem;
	--default-align: center;
	--secondary-align: right;
	--align-left: left;
	--alternative-align: top;
	--align-bottom: bottom;
	--card-body-padding: 1.25rem 1.25rem 0.3125rem 1.25rem;
	--card-body-alternativePadding: 1.25rem;
	--card-header-padding: 0 1.25rem 1.25rem 1.25rem;
	--alternative-cardHeader-padding: 0.75rem 1.25rem;
	--card-header-fontWeight: 700;
	--card-header-letterSpacing: 0.0625rem;
	--default-card-opacity: 0.9;
	--img-default-maxWidth: 100%;
	--img-default-height: auto;
	--rounded-borderRadius: 0.25rem;
	--rounded-circle-borderRadius: 50%;
	--rounded-0: 0;
	--img-thumbnail-border: 0.0625rem solid #dee2e6;
	--table-BorderY: 0.125rem solid #dee2e6;
	--table-alternativeBorder: 0.0625rem solid #dee2e6;
	--table-bottomBorder-width: 0.125rem;
	--alternative-bgColor: rgba(255, 255, 255, 0.05);
	--alternative-hover: rgba(255, 255, 255, 0.075);
	--default-overflowScrolling: touch;
	--default-overflowScrolling: -ms-autohiding-scrollbar;
	--table-maxWidth-sm: 35.99875rem;
	--table-maxWidth-md: 47.99875rem;
	--table-maxWidth-lg: 61.99875rem;
	--table-maxWidth-xl: 74.99875rem;
	--btn-fontWeight: 500;
	--btn-fontSize: 0.875rem;
	--btn-padding: 0.7rem 1.5rem;
	--btn-borderRadius: 0.1875rem;
	--btn-marginBottom: 0.625rem;
	--btn-defaultCursor: pointer;
	--btn-transition: 350ms ease all;
	--btn-boxShadow: 0rem 0.125rem 0.125rem rgba(0, 0, 0, 0.1);
	--btn-margin: 0.2%;
	--btn-iconDisplay: -webkit-box, -webkit-flex, -ms-flexbox, flex;
	--btn-boxShadow-hover: 0rem 0.375rem 0.625rem rgba(153, 153, 153, 0.25);
	--btn-round-borderRadius: 1.875rem;
	--btn-circle-borderRadius: 1.875rem;
	--btn-circle-heightWidth: 40.0625rem;
	--btn-circle-padding: 0.6rem 0;
	--btn-xs-fontSize: 0.625rem;
	--btn-xs-padding: 0.25rem 0.75rem;
	--btn-xsCircle-Padding: 0.25rem 0.75rem;
	--btn-xsCircle-heightWidth: 20.125rem;
	--btn-sm-fontSize: 0.9375rem;
	--btn-sm-padding: 0.35rem 1rem;
	--btn-smCircle-padding: 0.35rem 0;
	--btn-smCircle-heightWidth: 1.75rem;
	--btn-md-fontSize: 10.375rem;
	--btn-md-padding: 0.75rem 1.75rem;
	--btn-mdCircle-Padding: 0.75rem 0;
	--btn-mdCircle-heightWidth: 48px;
	--btn-lg-fontSize: 1.125rem;
	--btn-lg-padding: 0.8rem 2rem;
	--btn-lgCircle-padding: 0.8rem 0;
	--btn-lgCircle-heightWidth: 3.125rem;
	--btn-default-borderColor: rgba(255, 255, 255, 0.5);
	--btn-default-boxShadow: 0rem 0.375rem 0.625rem rgba(255, 255, 255, 0.25);
	--btn-primary-bgBorderColor: #6200ea;
	--btn-primary-boxShadow: 0rem 0.375rem 0.625rem rgba(98, 0, 234, 0.25);
	--btn-success-bgBorderColor: #3ebb3c;
	--btn-success-boxShadow: 0rem 0.375rem 0.625rem rgba(0, 176, 255, 0.25);
	--btn-info-bgBorderColor: #00b0ff;
	--btn-info-boxShadow: 0rem 0.375rem 0.625rem rgba(0, 176, 255, 0.25);
	--btn-warning-bgBorderColor: #fbd82b;
	--btn-warning-boxShadow: 0rem 0.375rem 0.625rem rgba(255, 145, 0, 0.25);
	--btn-danger-bgBorderColor: #dc2649;
	--btn-danger-boxShadow: 0rem 0.375rem 0.625rem rgba(255, 23, 68, 0.25);
	--btn-default-opacity: 0.9;
	--lead-fontSize: 1.25rem;
	--lead-fontWeight: 300;
	--navPill-padding: 0.625rem 1.25rem;
	--navPill-fontSize: 0.875rem;
	--navPill-background: rgba(200, 200, 200, 0.2);
	--navPill-boxShadow: 0rem 0.375rem 0.625rem 0rem rgba(0, 0, 0, 0.3);
	--navPill-defaultOpacity: 0.5;
	--pagination-transition: all 0.3s;
	--pagination-padding: 0rem 0.625rem;
	--pagination-margin: 0 0.1875rem;
	--pagination-minWidth: 1.875rem;
	--alert-padding: 0.75rem 1.25rem;
	--alert-border: 0.0625rem solid transparent;
	--alert-dismissible-padding: 0.75rem 1.25rem;
	--fade-transition: opacity 0.15s linear;
	--close-color: #000;
	--close-textShadow: 0 0.0625rem 0 #fff;
	--nav-tabs-padding: 10.3125rem 0.7rem;
	--nav-tabs-hover: rgba(200, 200, 200, 0.2);
	--nav-tabs-boxShadow: 0rem 0.375rem 0.625rem 0rem rgba(0, 0, 0, 0.3);
	--nav-item-disabled: rgba(255, 255, 255, 0.5);
	--blockquote-border: 0.125rem solid #999;
	--blockquote-padding: 0.625rem 1.875rem;
	--blockquote-quotes: "\201C" "\201D" "\2018" "\2019";
	--img-raised-boxShadow: 0rem 0.375rem 0.625rem 0rem rgba(0, 0, 0, 0.3);
	--carousel-boxShadow: 0rem 0.375rem 0.625rem 0rem rgba(0, 0, 0, 0.3);
	--carouselIcon-fontSize: 2.5em;
	--modal-content-borderRadius: 0.1875rem;
	--modal-content-boxShadow: 0rem 0.375rem 1.25rem 0rem rgba(0, 0, 0, 0.5);
	--modal-header-padding: 1.25rem 1.25rem 0 1.25rem;
	--modal-body-padding: 1.25rem;
	--modal-body-lineHeigt: 1.9;
	--modal-footer-padding: 0 1.25rem 10.375rem 1.25rem;
	--modal-backdrop-bgColor: rgba(0, 0, 0, 0.3);
	--popover-boxShadow: 0rem 0.375rem 3.125rem 0rem rgba(0, 0, 0, 0.2);
	--popover-maxWidth: 15rem;
	--tooltip-borderCololr: #ffffff;
	--tooltip-inner-padding: 0.5rem 0.7rem;
	--tooltip-minWidth: 11.875rem;
	--tooltip-boxShadow: 0rem 0.3125rem 20.3125rem 0rem rgba(0, 0, 0, 0.2);
	--auto: auto;
	--default-float: center;
	--secondary-float: right;
	--float-left: left;
	--alternative-float: top;
	--float-bottom: bottom;
	--float-none: none;
	--text-justify: justify;
	--text-truncate: hidden;
	--default-text-overflow: ellipsis;
	--icon-fontSize-xl: 5rem;
	--icon-fontSize-lg: 3.75rem;
	--icon-fontSize-md: 2.813rem;
	--icon-fontSize-sm: 1.875rem;
	--default-border: 0.0625rem solid #dee5e5;
	--banner-size: 19rem;
	--top: top;
	--left: left;
	--right: right;
	--bottom: bottom;
	--short-padding: 4.375rem;
	--long-padding-2: 70.31rem;
	--long-padding: 73.75rem;
	--sm-size: 3.125rem;
	--md-size: 7.813rem;


}

.banner {
	height: var(--banner-size);
	width: var(--100);
	margin: var(--0);
	padding: var(--0);
}

.header {
	position: var(--default-position);
	height: var(--banner-size);
	width: var(--100);
	margin: var(--0);
	padding: var(--0);
	vertical-align: var(--top);
}

.column {
	font-family: var(--default-font-family);
	position: var(--secondary-position);
	color: var(--default-bgColor);
	display: var(--);
	justify-content: var(--justifyContent-align-start);
	flex-direction: var(--column-flex-direction);
	padding-left: var(--long-padding);
	bottom: var(--050);
	padding-bottom: var(--short-padding);

}

.phone {
	position: var(--secondary-position);
	height: var(--height-sm);
	width: var(--sm-size);
	color: var(--secondary-color);
	padding-left: var(--long-padding-2);
	padding-top: var(--md-size);
}

.socialMH {
	display: flex;
	justify-content: space-around;
	position: var(--secondary-position);
	padding-left: var(--long-padding-2);
	padding-top: var(--sm-size);
}
body {
	margin: var(--0);
	padding: var(--0);
	background-color: var(--custom-background-color);
}

.navbar {
	position: var(--secondary-position);
	background-color: var(--custom-color);
	width: var(--100);
	height: var(--md-size);
	padding-top: var(--0);
	margin-top: var(--0);
}

.nav {
	color: var(--default-bgColor);
	font-family: serif;
	display: flex;
	justify-content: space-around;
	flex-direction: var(--default-flex-direction);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: var(--100);
  background-color: var(--blue);
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #e2df7c;
  color: white;
}

.ingresar {
	display: flex;
	justify-content: flex-end;
}

.home {
	width: var(--100);
	height: 600px;
	margin: var(--0);
	padding: var(--0);
	vertical-align: var(--top);

}

.gold-bar {
	width: var(--100);
	height: 25px;
	background-color: #b5923e;
	margin: var(--0);
	padding: var(--0);
	vertical-align: top;
}

.image {
	width: var(--100);
	height: 250px;
	margin: var(--0);
	padding: var(--0);
	vertical-align: top;
}

.blue-bar {
	width: var(--100);
	height: 25px;
	background-color: var(--blue);
	margin: var(--0);
	padding: var(--0);
	vertical-align: top;
}

h2 {
	font-family: "Courier New", Courier, monospace;
	text-align: center;
}

.resaltar {
	font-family: "Arial Black", Gadget, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: flex-start;
  justify-content: space-around;
}

.row {
	columns: var(--4-flex)
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 230px;
	height: 280px;
	background-color: var(--default-bgColor);
	 border-radius: 25px;
	 margin-top: 50px;
}

.inmueble {
	padding-left: 15px;
	width: 200px;
	height: 150px;
	border-radius: 25px;

}


h5 {
	padding-left: 0px;
	margin: 5px;
}

h3 {
	padding-left: 30px;
	margin: 5px;
}

.details-btn {
	height: 40px;
	width: 230px;
	border: 0;
	background-color: var(--secondary-color);
	border-radius: 25px;
}

.details {
	display: flex;
	flex-direction: flex-start;
	flex-wrap: wrap;
	padding-left: var(--0);
	padding-right: 5px;
}


.wrapper {
	padding-left: 570px;
	padding-top: 50px;
}
.verMas {
    height:50px; 
    width:200px;
    position: relative;
	background-color: var(--secondary-color);
	border-radius: 25px;
}

.profile-img {
	width: 220px;
	height: 170px;
	border-radius: 25px;
	padding-left: 5px;
	padding-top: 5px;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: blue;
  color: white;
  text-align: center;
}

.column {
	font-family: "Lucida Console";
	display: flex;
	flex-direction: column;
}

a {
	color: white;
}
.footer-img {
	margin: 0;
	padding: 0;
	height: 200px;
	width: 300px;
}

.socialM {
	color: white;
	height: 50px;
	width: 50px;
}

.socialM:hover {
	opacity: 0.5;
}

* {box-sizing:border-box}

.slideshow-container {]
  display: flex;
  align-items: center;
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 30px;
  padding-left: 100px;
}

.mySlides {
  display: none;
}

.c-img {
	height: 500px;
	width: 800px;
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.IDContainer{
	display: none; 
	justify-content: center;
	width: 300px;
	height: 200px;
	background-color: #bfd7ff;
	border-radius: 25px;
	border: 2px solid var(--custom-background-color); 
	position: fixed;
}

.inmuebleDetails {
	display: flex;
	flex-direction: column;
}

.home {
	padding-left: 20px;
	padding-right: 0;
	margin-right: 0;
	border: 0;

	height: 20px;
	width: 20px;
}
 .bed {
	padding-left: 20px;
	height: 20px;
	width: 20px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


#modal-content {
  background-color: #fefefe;
  margin: 1% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 700px; /* Could be more or less, depending on screen size */
  height: 1070px;
}
#profile-content {
  background-color: #fefefe;
  margin: 1% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 700px; /* Could be more or less, depending on screen size */
  height: 800px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#inmuebleTitle {
	display: inline-block;

}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

#myBtn {
	background-color: blue;
}

#inmuebleImage {
	height: 300px;
	width: 350px;
	border-radius: 25px;
}

.centered {
	text-align: center;
}

.showPics {
	display: none;
}

.np {
	height: 40px;
	width: 70px;
	border: 0;
	background-color: var(--secondary-color);
	border-radius: 25px;
}

.info {
	display: flex;
	justify-content: space-between;
	border: 2px solid blue;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: "Hind";
}

#user-post {
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;

	padding-left: 50px;
}

#description {
	padding: 10px;
	text-align: center;
}
.details-user-image {
	margin-top: 30px;
	height: 100px;
	width: 130px;
	margin-right: 20px;
	margin-left: 20px;
	border-radius: 25px;
}

.top-padding {
	padding-top: 30px;
}

form {border: 3px solid #f1f1f1;
width: 350px;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
}

button {
	margin: none;
	padding: none;
}
button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.avatar {
  width: 160px;
  height: 150px;
  border-radius: 25%;
}

.psw {
  float: right;
  padding-top: 16px;
}

.login-form {
	columns: var(--4-flex)
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 350px;
	height: 400px;
	background-color: var(--default-bgColor);
	 border-radius: 25px;
	 margin-bottom: 200px;
	 margin-top: 100px;
}

.space-between {
	display: flex;
	justify-content: space-between;
}

.login-btn {
	background-color: var(--success);
	border-radius: 25px;
	border: none;
	font-family: "Hind";
	width: 60px;
	height: 30px;
}

.profile-shortcut {
	display: flex;
	background-color: blue;
	justify-content: space-around;
	height: 100px;
	width: 150px;
}

input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.search:after {
  content: "";
  display: table;
  clear: both;
}

#metros2 {
	padding: 0;
	margin-top: 25px;
	height: 35px;
	width: 260px;
}

#price {
	padding: 0;
	margin-top: 25px;
	height: 35px;
	width: 260px;
}

#search-btn {
	margin-right: 100px;
}

#search-btn:hover {
	opacity: 0.8;
}